html{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none}
body{cursor:crosshair;margin:0;overflow:hidden;width:100%;height:100%}
img{display:none}
canvas{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    width:100vw;
    height:100vh;
}
input{
    border-radius:8px;
    opacity:.75;
    background-color:#0C090A;
    color:#2D69F4;
    border:4px solid #000;
    box-shadow:2px 2px .5px #000;
}
button{
    border-radius:3px
}
i{
}
#master-div{
    width: 100vw;
    height: 100vw;
}
#main-canvas, #shader-canvas{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
}
#hud-container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
#world-info-card-holder{
    position: absolute;
    left: 4px;
    top: 4px;
    width: 180px;
    height: 440px;
    border: 1px solid black;
    opacity: 0.9;
}
#player-info-card-holder{
    position: absolute;
    right: 4px;
    bottom: 4px;    
    width: 180px;
    height: 440px;
    border: 1px solid black;
    opacity: 0.9;
}
#inventory-holder{
    position: absolute;
    left: 40%;
    bottom: 4px;
    width: 200px;
    height: 32px;
    border: 1px solid black;
    opacity: 0.9;
}
#selected-inventory-holder{
    position: absolute;
    left: 40%;
    bottom: 40px;
    width: 200px;
    height: 32px;
    border: 1px solid black;
    opacity: 0.9;
}
.inventory{
    float:left;
    width: 30px;
    height: 30px;
    margin-left: 4px;
    border-radius: 4%;
    border: 1px solid black;
}
#inventory-0{
    left: 75px;
    top: 10px;
}
#inventory-1{
    left: 50px;
    top: 60px;
}
#inventory-2{
    left: 100px;
    top: 60px;
}
#inventory-3{
    left: 75px;
    top: 110px;
}
#world-info-card{
    background-image: url('../art/note_paper.png');
    background-size: contain;
    background-repeat: repeat;
    width: 100%;
    height: 92%;
    overflow: hidden;

}
#world-info-card > div{
    overflow: hidden;
    height: 100%;
    position: absolute;
    top:60px;
    left: 0;    
}
#world-info-card-tab-holder{
    padding-top: 4px;
    background-color: #fff;
    width: 100%;
    height: 8%;
}
.tab{
    font-size: 34px;
    text-align: center;
    width: 60px;
    height: 100%;
    float: left;
    border-radius: 10%;
}
#gand-card, selected-card{
    left: -350px;
}