html{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
}
body{
    /*background-color:  #1e1e1e;*/
    cursor: crosshair;
    /*overflow: auto;*/
    margin: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;    
}
img{
    display:none;
}
canvas{    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    width: 100vw;
    height: 100vh;
}
input{
    border-radius: 8px;
    opacity: 0.75;
    background-color: #0C090A;
    color: #2D69F4;
    border: 4px black solid;
    box-shadow: 2px 2px 0.5px black;
}
button{
    border-radius:3px;
}
title{
    
}
#main-canvas{
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
}
#shader-canvas{
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
}